@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
  font-family: 'Ubuntu', sans-serif;
  /* border: 1px solid red; */
  margin: 0;
}

body {
  background: linear-gradient(228deg, #ffa701, #54f2ff, #b2f8fe, #e3cc2e);
  background-size: 800% 800%;
  animation: MainBackground 18s ease infinite;
  height: 100vh;
}

h2 {
  color: whitesmoke;

}

p {
  color: rgb(202, 202, 202);
}

img {
  border-radius: 5px;
}

/* ----- HEADER WIDE SCREEN ----- */
@media screen and (min-width: 500px) {
  #navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 5em;
    padding-right: 5em;
    background: linear-gradient(99.9deg, rgba(27, 24, 31, 1) 21.2%, rgb(50, 4, 89) 84.8%);
    border-width: 0 0 1em 0;
    border-style: solid;
    border-color: rgba(230, 230, 230, 0.329);
    overflow: hidden;
  }

  #navbar-links {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-top: 2em;
    font-size: 150%;
  }

  #logo-and-title {
    display: flex;
    flex: 1;
    align-items: flex-end;
    font-size: 100%;
  }

  #main-logo {
    width: 120px;
    height: 120px;
    object-fit: contain;
  }

  #main-title {
    flex: 1;
    text-align: left;
    padding-bottom: 1em;
    color: rgb(206, 206, 206);
  }
}

/* ----- FIRST SECTION ----- */
#firstSection {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 50px;
  padding-top: 5em;
  padding-bottom: 3em;
  padding-left: 5em;
  padding-right: 5em;
  overflow: auto;
  box-sizing: border-box;
  background: linear-gradient(99.9deg, rgb(42, 6, 88) 21.2%, rgb(92, 59, 121) 84.8%);
}

#firstSection-leftContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#firstSection-leftContent h2 {
  text-align: left;
}

#firstSection-leftContent p {
  text-align: left;
  font-size: 120%;
}

#btnSignUp {
  width: fit-content;
  padding: 0.7em 1.2em 0.7em 1.2em;
  margin-top: 0.5em;
  appearance: none;
  background-color: #4d0b86;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 5px 5px 5px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  transition: 0.3s;
}

#btnSignUp:hover {
  background-color: #320459;
  box-shadow: #8b25e470 0 0 0 3px;
  outline: none;
}

#btnSignUp:focus {
  box-shadow: #8b25e470 0 0 0 3px;
  outline: none;
}

#btnSignUp:active {
  background-color: #320459;
  box-shadow: #59189270 0 0 0 3px;
  outline: none;
}

#firstSection-rightContent {
  flex: 1;
}

#earth-horizon-image {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

/* ----- SECOND SECTION ----- */
#secondSection {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
  padding-top: 5em;
  padding-bottom: 3em;
  padding-left: 5em;
  padding-right: 5em;
  overflow: auto;
  box-sizing: border-box;
  background: linear-gradient(99.9deg, rgb(42, 6, 88) 21.2%, rgb(92, 59, 121) 84.8%);
}

#secondSection h2 {
  flex: 1;
  text-align: left;
}

#planet-row {
  display: flex;
  flex: 1;
  gap: 20px;
}

.planet-column {
  display: flex;
  flex: 1;
  gap: 10px;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
}

.planet-column img {
  height: 200px;
  object-fit: cover;
}

.planet-description {
  text-align: center;
  font-weight: bold;
}

/* ----- THIRD SECTION ----- */
#thirdSection {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
  padding-top: 5em;
  padding-bottom: 3em;
  padding-left: 5em;
  padding-right: 5em;
  overflow: auto;
  box-sizing: border-box;
  background: linear-gradient(99.9deg, rgb(42, 6, 88) 21.2%, rgb(92, 59, 121) 84.8%);
}

#qoute {
  flex: 1;
  font-size: 250%;
  font-style: italic;
  text-align: center;
}

#qoutee {
  flex: 1;
  padding-top: 1em;
  font-size: 150%;
  font-weight: bold;
  text-align: right;
}

/* ----- FOURTH SECTION ----- */
#fourthSection {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 5em;
  padding-bottom: 5em;
  padding-left: 5em;
  padding-right: 5em;
  overflow: hidden;
  box-sizing: border-box;
  background: linear-gradient(99.9deg, rgb(42, 6, 88) 21.2%, rgb(92, 59, 121) 84.8%);
}

#bottom-banner {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  background: white;
  padding: 3em;
  border-radius: 5px;
  width: 80%;
}

#bottom-banner-text {
  display: flex;
  flex-direction: column;
  background: white;
}

#banner-title {
  text-align: left;
  width: fit-content;
}

#banner-text {
  width: fit-content;
  color: black;
}

#banner-button {
  justify-content: right;
  width: fit-content;
  padding: 0.7em 1.2em 0.7em 1.2em;
  margin-top: 0.5em;
  margin-left: 2em;
  appearance: none;
  background-color: #4d0b86;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 5px 5px 5px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  transition: 0.3s;
}

#banner-button:hover {
  background-color: #320459;
  box-shadow: #8b25e470 0 0 0 3px;
  outline: none;
}

#banner-button:focus {
  box-shadow: #8b25e470 0 0 0 3px;
  outline: none;
}

#banner-button:active {
  background-color: #320459;
  box-shadow: none;
  outline: none;
}


/* ----- BACKGROUND ANIMATION ----- */
@keyframes MainBackground {
  0% {
    background-position: 72% 0%
  }

  50% {
    background-position: 29% 100%
  }

  100% {
    background-position: 72% 0%
  }
}

/* ----- LINK ANIMATION ----- */
a {
  position: relative;
  color: rgb(206, 206, 206);
  text-decoration: none;
}

a:hover {
  color: whitesmoke;
}

a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(189, 83, 35);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

a:hover::before {
  transform: scaleX(1);
}

/* ----- GRADIENT BORDER ------ */
.gradient-border {
  border-radius: 5px;
  --angle: 0deg;
  border: 5px solid;
  border-image: linear-gradient(var(--angle), #743ad5, #d53a9d) 1;
  animation: 5s rotate linear infinite;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}