@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
  font-family: 'Ubuntu', sans-serif;
  /* border: 1px solid red; */
  margin: 0;
}

body {
  background: linear-gradient(228deg, #ffa701, #54f2ff, #b2f8fe, #e3cc2e);
  background-size: 800% 800%;
  animation: MainBackground 18s ease infinite;
  height: 100vh;
}

/* ----- HEADER ----- */
#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 5vh;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 5em;
  padding-right: 5em;
  background: white;
  border-width: 0 0 1em 0;
  border-style: solid;
  border-color: rgba(230, 230, 230, 0.445);
  overflow: auto;
}

#navbar-links {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 50px;
  font-size: 150%;
  flex: 1;
}

/* ----- FIRST SECTION ----- */
#firstSection {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 50px;
  padding-top: 3em;
  padding-bottom: 3em;
  padding-left: 5em;
  padding-right: 5em;
  overflow: auto;
  box-sizing: border-box;
  background: #b2f8fe;
}

#firstSection-leftContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#firstSection-leftContent p {
  text-align: justify;
}

#btnSignUp {
  width: fit-content;
  padding: 0.7em 1.2em 0.7em 1.2em;
  margin-top: 0.5em;
  appearance: none;
  background-color: #2e88a4;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 5px 5px 5px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  transition: 0.3s;
}

#btnSignUp:hover {
  background-color: #1a6d86;
}

#btnSignUp:focus {
  box-shadow: #1a6d866e 0 0 0 3px;
  outline: none;
}

#btnSignUp:active {
  background-color: #1a6d86;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

#firstSection-rightContent {
  flex: 1;

}

#scenary-image {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}


/* ----- BACKGROUND ANIMATION ----- */
@keyframes MainBackground {
  0% {
    background-position: 72% 0%
  }

  50% {
    background-position: 29% 100%
  }

  100% {
    background-position: 72% 0%
  }
}

/* ----- LINK ANIMATION ----- */
a {
  position: relative;
  color: #000;
  text-decoration: none;
}

a:hover {
  color: rgb(0, 0, 0);
  font-weight: bold;
}

a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(189, 83, 35);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

a:hover::before {
  transform: scaleX(1);
}