@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
  font-family: 'Ubuntu', sans-serif;
  /* border: 1px;
  border-style: solid;
  border-color: red; */
  margin: 0;
}

body {
  background: linear-gradient(228deg, #ffa701, #54f2ff, #b2f8fe, #e3cc2e);
  background-size: 800% 800%;
  animation: MainBackground 18s ease infinite;
  height: 100vh;
  /* box-sizing: border-box; */
}

/* HEADER */
#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 5vh;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 10em;
  padding-right: 10em;
  background: white;
  border-width: 0 0 1em 0;
  border-style: solid;
  border-color: rgba(230, 230, 230, 0.445);
  overflow: auto;
}

#navbar-links {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 50px;
  font-size: 150%;
  flex: 1;
}

/* BACKGROUND ANIMATION */
@keyframes MainBackground {
  0% {
    background-position: 72% 0%
  }

  50% {
    background-position: 29% 100%
  }

  100% {
    background-position: 72% 0%
  }
}

/* LINK ANIMATION */
a {
  position: relative;
  color: #000;
  text-decoration: none;
}

a:hover {
  color: rgb(0, 0, 0);
  font-weight: bold;
}

a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(189, 83, 35);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

a:hover::before {
  transform: scaleX(1);
}